{% extends "Layouts/layout.html" %}
{% block content %}
<div class="headingTop">Welcome to trebal!!</div>
<br>
<div class="headingTop">Are you in need of some help? Please fill up the form below!</div>

<div class="container">
    <form action="{{ url_for('home') }}" method="post" id="contact">
        <!-- <h3>If you need some service</h3> -->
        <h4>Explain your query details here.</h4>
        {{form.hidden_tag()}}
        <fieldset>
            <label for="name">Name</label>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>
            <label for="email">Email Address</label>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>
            <label for="Service">Service</label>
            {{ form.service(size=32) }}<br>
            {% for error in form.service.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>
            <button name="submit" type="submit">Submit</button>
        </fieldset>
    </form>
</div>

<div>
    <form id="contact">
        <button name="submit" type="submit">
            <a href="{{ url_for('supplier') }}" style="color: wheat; font-weight: bold;"> Click if you can provide some
                service!</a>
        </button>
    </form>


</div>


</div>
{% endblock %}