{% extends "Layouts/layout.html" %}
{% block content %}
 <h1 class="headingTop" style="font-size: 100px;padding-top: 32px;">Trebal</h1>
<br>
<div class="headingTop"> A platform for managing needs!</div>

<div class="container">
    <form id="contact" action="{{ url_for('supplier') }}" method="post">
        <h3>If you can provide service,</h3>
        <h4>Please fill out the form below:</h4>
        {{form.hidden_tag()}}
        <fieldset>
            <label for="name">Name</label>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>
            <label for="email">Email Address</label>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>
            <label for="Service">Service</label>
            {{ form.service(size=32) }}<br>
            {% for error in form.service.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>
            <button name="submit" type="submit">Submit</button>
        </fieldset>
    </form>
  

</div>
{% endblock %}