{% extends "Layouts/layout.html" %}
{% block content %}
 <h1 class="headingTop" style="font-size: 100px;padding-top: 32px;">Trebal</h1>
<br>
<div class="headingTop"> A platform for managing needs!</div>

<div class="container">
    <form id="contact" action="{{ url_for('supplier') }}" method="post">
        <h3>If you can provide service,</h3>
        <h4>Please fill out the form below:</h4>
        {{form.hidden_tag()}}
        <fieldset>
            <label for="name">First Name</label>
            {{ form.firstName(size=32) }}<br>
            {% for error in form.firstName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>
            <label for="name">Last Name</label>
            {{ form.lastName(size=32) }}<br>
            {% for error in form.lastName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>
            <label for="email">Email Address</label>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <!-- <fieldset>
            <label for="Service">Service</label>
            {{ form.service(size=32) }}<br>
            {% for error in form.service.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset> -->
        <fieldset>
            <label for="phoneNumber">Phone Number</label>
            {{ form.phoneNumber(size=32) }}<br>
            {% for error in form.phoneNumber.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>
            <label for="address">Address</label>
            {{ form.address(size=32) }}<br>
            {% for error in form.address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>
            <span >City</span>
                <select name="city" class="dropDown">
                  <option value="Nagpur">Nagpur </option>
                  <option value="Pune">Pune </option>   
                  <option value="Mumbai">Mumbai </option>
                  <option value="Aurangabad">Aurangabad </option>
                  <option value="Nashik">Nashik </option>
                </select>
        </fieldset>
        <fieldset>
            <span >Services Offered</span>
                <select name="service" class="dropDown">
                  <option value="Gardening">Gardening </option>
                  <option value="Monetary">Monetary </option>   
                  <option value="Tutoring">Tutoring </option>
                  <option value="Coding">Coding </option>
                  <option value="Art">Art </option>
                </select>
    </fieldset>
    <fieldset>
        <label for="note">Description</label>
        {{ form.note(size=32) }}<br>
        {% for error in form.note.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </fieldset>
        <fieldset>
            <button name="submit" type="submit">Submit</button>
        </fieldset>
    </form>
</div>
{% endblock %}